.titlesResource {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.titlesResource h2 {
    font-size: 1.3vw;
    font-weight:lighter;
}

hr {
    border: none;
    border-top: 1px solid var(--grey);
}

.editIcon, .editIcon svg{
    width: 3vw;
    height: auto;
}

.editIcon:hover svg circle {
    fill: var(--darkBlue);
  }