.navbar {
    height: 70vh;
    width: 15%;
    background-color: var(--grey);
    border-radius: 4rem;
    display: flex;
    justify-content: center;
}

.navbar button {
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 1vw;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 20px;
    border: none;
}