.containers {
    height: auto;
    width: 70%;
}

.cabeceraCategoria {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.containers h1 {
    font-size: 2vw;
    font-weight: 400;
}

.containers ul {
    width: 100%;
    height: 70vh;
    padding: 15px 30px;
    background-color: #ffffff ;
    border-radius: 4rem;
    margin: 0;
}

.containers button {
    border: none;
    background-color: transparent;
}

.addIcon, .addIcon svg{
    width: 3.5vw;
    height: auto;
    cursor: pointer;
}

.addIcon:hover svg circle {
    fill: var(--darkBlue);
  }