* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  font-family: sans-serif;
}

:root {
  --blue: #0069FC;
  --darkBlue: #004EBC;
  --darkGrey: #444444;
  --grey: #D9D9D9;
  --lightGrey: #EEEEEE;
  --white: #ffffff;
  --black: #000000;
}